body {
    padding: 0;
    margin: 0;
    background-color: #00141a;
    width: 100vw;
    height: 100vh;
}

body * {
    display: flex;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;

    color: white;
    justify-content: center;
    align-items: center;
}

.note {
    height: 100px;
    width: 100%;

    padding: 50px 0px;

    justify-content: space-evenly;
    align-items: center;

    height: fit-content;
}

.note-text-area:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.note-text-area {
    font-size: 18px;
    padding: 2rem;
    width: 60%;
    resize: none;
    overflow: hidden;

    background-color: #3b3b3b;
    border: none;
    border-radius: 10px;

    color: white;
}

.note-remove-button {
    background-color: white;
}