body {
  padding: 0;
  margin: 0;
  background-color: #00141a;
}

body * {
  display: flex;
  box-sizing: border-box;
  font-family: sans-serif;
}

script {
  display: none;
}

ul {
  flex-direction: column;
  width: 100%;
}

#app {
  flex-direction: column;
  align-items: center;

  width: 100%;

  color: white;
}

.last-saved {
  padding: 20px;
}

#title {
  font-size: 48px;
  padding: 50px 0px;
}

#notepad {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}

.note {
  width: 100%;
  height: fit-content;

  padding: 50px 0px;

  justify-content: space-evenly;
  align-items: center;
}

.note-text-area {
  font-size: 18px;
  padding: 2rem;
  width: 60%;
  resize: none;
  overflow: hidden;

  background-color: #3b3b3b;
  border: none;
  border-radius: 10px;

  color: white;
}

.note-text-area:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.button {
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 50px;
  border-radius: 10px;

  background-color: lightblue;
}

.links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  font-size: 24px;
}
