<div class="mx-auto relative w-full">

    <div class="grid grid-cols-[3%_13%_84%] w-full" style="border: 1px solid #4800C1;">
        <partial name="_QuerySelector" />

        <div style="border: 1px solid #4800C1;"></div>

        <div class="pb-4 grid grid-rows-[200px_auto_auto] gap-8 relative" style="border: 1px solid #4800C1;">
        </div>

        <div class="p-4 space-y-4 text-justify" style="border: 1px solid #4800C1;">
            <h2 class="text-[#FFC721] font-bold mb-4">Website Design</h2>
            <p class="text-[#cdcdcd]">
                Dr. Steven Pelech is the principal architect and editor of KiNECTOR. He is a full professor in the
                Department of Medicine at the University of British Columbia (UBC), and has been an active researcher in
                cell signalling systems for over 40 years and authored over 280 peer-reviewed scientific journal
                articles and book chapters.
            </p>
            <h2 class="text-[#FFC721] font-bold mb-4">Website Data Collection ...<h2>
                    <p class="text-[#cdcdcd]">
                        Dr. Steven Pelech has been assisted by students in the MEDI_V-590 graduate course on Molecular
                        Regulation of Cell Growth and Differentiation taught at UBC.
                        MEDI-590 students that collected the information on protein expression in human tissues were
                        Jonathan Frew, Jian Gao, Brandon McCrimmon, Elliya Park, Keerit Taun, Jason Wang, Ryan Yen,
                        Lambert
                        Yue, and Wenchen Zhao.
                        The primary sources of information on human protein expression were TranscriptoNET, UniProt,
                        BGee,
                        The Human Protein Atlas (HPA), and ExpressionAtlas.
                        MEDI-590 students that collected the information on human protein functions, interactions and
                        modifications were Georgia Donaldson-Barrio, Rachel Hausman, Maggie Hou, Elly Kim, Anna Høyem
                        Lademo, Ivan Ristic, Caleb Sandle, Sana Shahidi Mahfuza Sreya, Mattison Stojcic, Asma Tanveer,
                        Emil
                        Wilk, Unnati Yagnik, and Tasnin Zakaria.
                        The primary sources of information on human protein functions, interactions and modifications
                        were
                        PhosphoNET, KinaseNET, STRING, PhosphoSitePlus, and UniProt. Note that many of the protein
                        descriptions were reproduced from Uniprot.

                    </p>

                    <h2 class="text-[#FFC721] font-bold mb-4">Website Programming ...</h2>
                    <p class="text-[#cdcdcd]">
                        The various websites featured in SigNET Knowledge-Bank have been developed in collaboration with
                        computer science students training at the British Columbia Institute of Technology (BCIT).

                        The BCIT students that developed the CytoNET module of KiNECTOR were
                        <a href="https://www.linkedin.com/in/kyle-eeles/"><span class="text-[#7b9ecc]">Kyle
                                Eeles</span></a>, <a href="https://www.linkedin.com/in/byron-dray/"><span
                                class="text-[#7b9ecc]">Byron Dray</span></a>, <a
                            href="https://www.linkedin.com/in/max-shuyu-li-7066832b3/"><span class="text-[#7b9ecc]">Max
                                Li</span></a>,
                        <a href="https://www.linkedin.com/in/ademi-ordobaeva/"><span class="text-[#7b9ecc]">Ademi
                                Ordobaeva</span></a>, and <a href="https://www.linkedin.com/in/christine-trites/"><span
                                class="text-[#7b9ecc]">Christine
                                Trites</span></a>.

                        The BCIT students that originally developed the KiNET module of KiNECTOR were

                        <a href="https://www.linkedin.com/in/hoang-thang-thomas-bui-b30036174/"><span
                                class="text-[#7b9ecc]">Thomas Bui</span></a>, <a
                            href="https://www.linkedin.com/in/DariaDimchuk"><span class="text-[#7b9ecc]">Daria
                                Dimchuk</span></a>, <a href="
                            https://www.linkedin.com/in/saeed-naguib/"><span class="text-[#7b9ecc]">Saeed
                                Naguib</span></a>,
                        and <a href="https://www.linkedin.com/in/dawson-verboven-719b4a76/"><span
                                class="text-[#7b9ecc]">Dawson Verboven</span></a>.

                    </p>

                    <h2 class="text-[#FFC721] font-bold mb-4">Contact Information ...</h2>
                    <p class="text-[#cdcdcd]">Site Manager: Dr. Steven Pelech, President & CSO, spelech@kinexus.ca</p>
                    <p class="text-[#cdcdcd]">Webmaster: Dr. Arthur Yee, Director of IT, ayee@kinexus.ca</p>
                    <p class="text-[#cdcdcd]">Advertising: Ms. Catherine Sutter, Director of Sales & Marketing,
                        csutter@kinexus.ca</p>
                    <h2 class="text-[#FFC721] font-bold mb-4">Citation Information ...</h2>
                    <p class="text-[#cdcdcd]">Pelech, S. (2025) KiNECTOR Atlas of Human Cell Signalling Systems. SigNET
                        Knowledge-Bank. Kinexus Bioinformatics Corporation. www.kinector.ca </p>



                    <span class="text-[#738569] font-bold mt-5 col-span-2 flex justify-center mb-2">Copyright 2025
                        Kinexus
                        Bioinformatics
                        Corporation</span>
        </div>
    </div>
</div>