<div class="col-span-2 py-4  space-y-6 border-[#4800C1] border">

    <div class="text-right px-4 text-[#8781BD] space-y-4">
        <p class="font-bold">General Info</p>

        <p class="invisible">Empty</p>
        <p>Type</p>
        <p>Short Name</p>
        <p>Full Name</p>
        <p>Alias</p>
        <p>Precursor MW</p>
        <p>PhosphoNET ID</p>
        <p>UniProt ID</p>
        <p>PhosphoSite ID</p>
        <p>Description</p>
    </div>

    <img src="~/images/legends-min.png" alt="Legends" class="mt-32 w-full" />
</div>